<div class="header-container" *ngIf="calendarYear">
  <div class="header">Изменение доходов по месяцам</div>
  <div fxLayout="row" fxLayoutAlign="space-around center" class="subheader-container">
    <div class="subheader"> {{calendarYear.yearNumber}}</div>
    <div style="margin-bottom: 6px;">
      <mat-icon class="icon-settings" (click)="goToMonthIncomeReport(calendarYear)">receipt_long</mat-icon>
    </div>
  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Динамика доходов">
      <div fxLayout="row" fxLayoutAlign="space-around" class="chart-container">
        <div echarts [options]="combinedChartOption" class="demo-chart"></div>
      </div>

    </mat-tab>
    <mat-tab label="Состав доходов">
      <div fxLayout="row" fxLayoutAlign="space-around" class="chart-container">
        <div echarts [options]="stackedChartOption" class="demo-chart"></div>
      </div>

    </mat-tab>
  </mat-tab-group>>
</div>
