<div fxLayout="row" fxLayoutAlign="space-around" style="width: 100%; margin: 30px 0">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 200px">
      <div class="header">Архив</div>
      <mat-icon class="accordion-openner" (click)="addCalendarYear()">library_add</mat-icon>
    </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 data-table">
  <!-- Working Year Column -->
  <ng-container matColumnDef="calendarYear">
    <th mat-header-cell *matHeaderCellDef>Год</th>
    <td mat-cell *matCellDef="let calendarYear">
      {{ calendarYear.yearNumber }}
    </td>
  </ng-container>

  <!-- Working Period Column -->
  <ng-container matColumnDef="workingPeriod">
    <th mat-header-cell *matHeaderCellDef>Период</th>
    <td mat-cell *matCellDef="let calendarYear" style="text-align: center">
      {{
      moment(calendarYear.monthActivityStart, "MM").locale("ru").format("MMM")
      }}
      -
      {{
      moment(calendarYear.monthActivityEnd, "MM").locale("ru").format("MMM")
      }}
    </td>
  </ng-container>

  <!-- Options -->
  <ng-container matColumnDef="options">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let calendarYear">
      <mat-icon [matMenuTriggerFor]="options" class="icon-settings" [matMenuTriggerData]="{calendarYear:calendarYear}">
        more_horiz</mat-icon>
    </td>
  </ng-container>

  <!-- Options Column -->
  <ng-container matColumnDef="settings">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let calendarYear">
      <mat-icon class="icon-settings" (click)="goToCalendarYearTaxesParams(calendarYear)">settings</mat-icon>
    </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let calendarYear">
      <mat-icon class="icon-edit" (click)="editCalendarYear(calendarYear)">edit</mat-icon>
    </td>
  </ng-container>

  <!-- Income Column -->
  <ng-container matColumnDef="income">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let calendarYear">
      <mat-icon class="icon-edit" (click)="goToIncomeJournal(calendarYear)">attach_money</mat-icon>
    </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let calendarYear">
      <mat-icon class="icon-delete" (click)="deleteCalendarYear(calendarYear)">delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<!-- NO RECORDS IN TABLE -->
<ng-container *ngIf="dataSource.length === 0">
  <div fxLayout="row" fxLayoutAlign="space-around" class="table-subheader">
    <span>В таблице пока нет записей</span>
  </div>
</ng-container>

<mat-menu #options="matMenu">
  <ng-template matMenuContent let-calendarYear="calendarYear">
    <button mat-menu-item (click)="goToIncomeJournal(calendarYear)">
      <mat-icon>attach_money</mat-icon>
      <span>Доходы</span>
    </button>
    <button mat-menu-item (click)="goToCalendarYearTaxesParams(calendarYear)">
      <mat-icon>settings</mat-icon>
      <span>Параметры налоговых выплат</span>
    </button>
    <button mat-menu-item (click)="editCalendarYear(calendarYear)">
      <mat-icon>edit</mat-icon>
      <span>Рабочий период</span>
    </button>
    <button mat-menu-item (click)="deleteCalendarYear(calendarYear)">
      <mat-icon>delete</mat-icon>
      <span>Удалить</span>
    </button>
  </ng-template>
</mat-menu>
