.working-year-container {
  margin-top: 30px;
  padding-bottom: 40px;
}

.mat-expansion-panel {
  width: 100vw;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  width: 1px;
}

/* .orientation {
  writing-mode: vertical-rl;
  transform: scale(-1);
} */
